@font-face {
  font-family: "app_icons";
  src: url('app_icons.eot?t=1767274463486'); /* IE9*/
  src: url('app_icons.eot?t=1767274463486#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('app_icons.woff2?t=1767274463486') format('woff2'),
  url('app_icons.woff?t=1767274463486') format('woff'),
  url('app_icons.ttf?t=1767274463486') format('truetype'),
  url('app_icons.svg?t=1767274463486') format('svg');
}

[class^="app_icons-"], [class*=" app_icons-"] {
  font-family: 'app_icons' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.app_icons-Arrow-Down::before { content: "\ea01"; }
.app_icons-Arrow-Right-Up::before { content: "\ea02"; }
.app_icons-Bell::before { content: "\ea03"; }
.app_icons-Chat-1::before { content: "\ea04"; }
.app_icons-Chevron-Left::before { content: "\ea05"; }
.app_icons-Document-1::before { content: "\ea06"; }
.app_icons-Document::before { content: "\ea07"; }
.app_icons-Filter::before { content: "\ea08"; }
.app_icons-grid-8::before { content: "\ea09"; }
.app_icons-Home::before { content: "\ea0a"; }
.app_icons-Icon::before { content: "\ea0b"; }
.app_icons-Lamp::before { content: "\ea0c"; }
.app_icons-Lock::before { content: "\ea0d"; }
.app_icons-Magnifier::before { content: "\ea0e"; }
.app_icons-Menu-3::before { content: "\ea0f"; }
.app_icons-Menu::before { content: "\ea10"; }
.app_icons-Pin::before { content: "\ea11"; }
.app_icons-Pluse::before { content: "\ea12"; }
.app_icons-Reply::before { content: "\ea13"; }


$app_icons-Arrow-Down: '\ea01';
$app_icons-Arrow-Right-Up: '\ea02';
$app_icons-Bell: '\ea03';
$app_icons-Chat-1: '\ea04';
$app_icons-Chevron-Left: '\ea05';
$app_icons-Document-1: '\ea06';
$app_icons-Document: '\ea07';
$app_icons-Filter: '\ea08';
$app_icons-grid-8: '\ea09';
$app_icons-Home: '\ea0a';
$app_icons-Icon: '\ea0b';
$app_icons-Lamp: '\ea0c';
$app_icons-Lock: '\ea0d';
$app_icons-Magnifier: '\ea0e';
$app_icons-Menu-3: '\ea0f';
$app_icons-Menu: '\ea10';
$app_icons-Pin: '\ea11';
$app_icons-Pluse: '\ea12';
$app_icons-Reply: '\ea13';
